<main>
    <p>Projeto concebido com a finalidade de adquirir conhecimentos fundamentais em Angular para futuras aplicações. A iniciativa fundamenta-se em tutoriais disponíveis no YouTube, visando implementar efetivamente o uso do framework Angular, inclusive o seu sistema de roteamento para a gestão de rotas no site.</p>
    <p>Este Projeto, o HomeWork Login, construido em TypeScript, utilizas as seguintes ferramentas:</p>
    <ul>
        <li>
            <img src="../../../assets/img/Angular.png" alt="Angular17"><span>Angular 17</span>
        </li>
        <li>
            <img src="../../../assets/img/scss.png" alt="ScssImg"><span>Scss</span>
        </li>
        <li>
            <img src="../../../assets/img/json.png" alt="jsonImg"><span>Json Server</span>
        </li>
    </ul>
    <p class="obs">Obs: A utilização do Json Server visa a facilidade na comunicação com o Back-End sem precição da construção do mesmo.</p>

    <h2>Produção</h2>

    <ul class="colaborators">
        <li>
            <img src="../../../assets/img/carvalho.png" alt="MCarvalhoPerfil">
            <h6>Matheus Carvalho</h6>
        </li>
        <li>
            <img src="../../../assets/img/eu.png" alt="JVictorDesenho">
            <h6>João Victor</h6>
        </li>
    </ul>

    <a href="/home">Voltar para Início</a>
</main>
